@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Helvetica Neue';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/public/fonts/HelveticaNeueRoman.otf) format('opentype');
    }
    @font-face {
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(/public/fonts/HelveticaNeueMedium.otf) format('opentype');
    }
    @font-face {
      font-family: 'Helvetica Neue';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url(/public/fonts/HelveticaNeueHeavy.otf) format('opentype');
    }
    @font-face {
        font-family: 'Helvetica Neue';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(/public/fonts/HelveticaNeueBold.otf) format('opentype');
    }
  }